@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap");
.mini_header {
  padding: 8px 0;
  background-color: #f17855;
  color: white;
}
.mini_header .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mini_header .line .lang {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
.mini_header .line .lang img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.mini_header .line .lang span {
  font-weight: 500;
}
.mini_header .line .contact_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.mini_header .line .contact_info .item span {
  font-size: 15px;
}

@media (max-width: 768px) {
  .mini_header {
    padding: 4px 0;
  }
  .mini_header .line .contact_info .item:nth-child(2) {
    display: none;
  }
}
header {
  padding: 12px 0;
  position: relative;
  z-index: 9999;
}
header.dark {
  background: black;
  color: white;
}
header .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .line .logo img {
  width: 110px;
}
header .line .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
header .line .links .list_Links {
  position: relative;
}
header .line .links .list_Links:hover .list {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  z-index: 999;
  visibility: visible;
}
header .line .links .list_Links .list {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border-radius: 6px;
  border-bottom: 4px solid #f17855;
  width: 200px;
  color: rgb(18, 20, 27) !important;
  z-index: -999;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  visibility: hidden;
}
header .line .links .list_Links .list li {
  list-style: none;
  padding: 10px;
}
header .line .links .list_Links .list li:not(:last-child) {
  border-bottom: 1px solid rgb(210, 210, 210);
}
header .line .links .list_Links .list li .list_link {
  text-transform: lowercase;
  display: block;
  font-size: 15px;
  font-weight: 500;
}
header .line .links .list_Links .list li .list_link:hover, header .line .links .list_Links .list li .list_link.active {
  color: #f17855 !important;
}
header .line .links .link {
  font-size: 19px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header .line .links .link:hover, header .line .links .link.active {
  color: #f17855 !important;
}
header .line .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
header .line .info .lang {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}
header .line .info .lang img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
header .line .info .lang span {
  font-weight: 500;
}
header .line .info .mode {
  cursor: pointer;
}
header .line .info .mode i {
  display: none;
}
header .line .info .mode i.show {
  display: block;
}
header .line .info .btn_contact {
  background: #f17855;
  color: white !important;
  padding: 7px 25px;
  border-radius: 50px;
}
header .line .info .icon_menu {
  display: none;
}

@media (max-width: 991px) {
  header {
    padding: 10px 0;
  }
  header .line .logo img {
    width: 70px;
  }
  header .line .links {
    display: none;
  }
  header .line .info {
    gap: 10px;
  }
  header .line .info .lang {
    display: none;
  }
  header .line .info .btn_outline {
    display: none;
  }
  header .line .info .icon_menu {
    cursor: pointer;
    display: block;
  }
  header .line .info .icon_menu svg {
    width: 25px;
  }
}
footer {
  padding: 50px 0 0;
  background-color: #080b11;
  color: white;
  border-top: 5px solid #f17855;
}
footer .row_top {
  padding-bottom: 30px;
  border-bottom: 1px solid #232842;
}
footer .row_top .widget_about .logo {
  margin-bottom: 20px;
}
footer .row_top .widget_about .logo img {
  width: 120px;
}
footer .row_top .widget_about .desc {
  font-size: 18px;
}
footer .row_top .widget_about .contact_info {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
footer .row_top .widget_about .contact_info span {
  font-weight: 400;
  font-size: 16px;
}
footer .row_top .col_links .title {
  color: #1967d2;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 40px;
  position: relative;
}
footer .row_top .col_links .title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0;
  height: 3px;
  width: 80px;
  border-radius: 20px;
  background-color: #1967d2;
}
footer .row_top .col_links span {
  display: block;
  color: rgb(205, 205, 205);
  font-size: 15px;
}
footer .row_top .col_links span:not(:last-child) {
  margin-bottom: 10px;
}
footer .footer_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
footer .footer_bottom p {
  margin-bottom: 0;
  font-size: 15px;
}
footer .footer_bottom .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
footer .footer_bottom .social_media a i {
  color: #1967d2;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
    padding: 30px 0 0;
  }
  footer .row_top {
    padding-bottom: 15px;
  }
  footer .row_top .widget_about {
    margin-bottom: 20px;
  }
  footer .row_top .widget_about .logo img {
    width: 100px;
  }
  footer .row_top .widget_about .desc {
    font-size: 14px;
    margin-bottom: 5px;
  }
  footer .row_top .widget_about .contact_info {
    font-size: 15px;
    margin-bottom: 4px;
  }
  footer .row_top .widget_about .contact_info span {
    font-size: 13px;
  }
  footer .row_top .col_links {
    margin-bottom: 15px;
  }
  footer .row_top .col_links .title {
    font-size: 19px;
    margin: auto;
    margin-bottom: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  footer .row_top .col_links .title:after {
    height: 2px;
    width: 60px;
    bottom: -5px;
  }
  footer .row_top .col_links span {
    font-size: 14px;
  }
  footer .footer_bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}
.hero_section {
  height: calc(100vh - 107px);
}
.hero_section .content .main_box {
  height: 460px;
  background-color: #1972a1;
  background-image: url(../images/banner-img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.hero_section .content .main_box .text {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
}
.hero_section .content .main_box .text .title {
  font-size: 55px;
  color: white;
  margin-bottom: 10px;
}
.hero_section .content .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.hero_section .content .boxs .box {
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.hero_section .content .boxs .box .text {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
}
.hero_section .content .boxs .box .text .discount {
  width: 70px;
  height: 70px;
  font-size: 27px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: #f17855;
  font-weight: 700;
}
.hero_section .content .boxs .box .text .title {
  color: white;
  font-size: 30px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .hero_section {
    height: auto;
  }
  .hero_section .content .main_box {
    background-image: none !important;
    height: auto;
  }
  .hero_section .content .main_box .image {
    height: 300px;
    background: url(../images/banner-img-mobile1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero_section .content .main_box .text {
    width: 100%;
    text-align: center;
    padding: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero_section .content .main_box .text .title {
    font-size: 30px;
  }
  .hero_section .content .boxs {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .hero_section .content .boxs .box {
    height: 140px;
  }
  .hero_section .content .boxs .box:nth-child(3) {
    display: none;
  }
  .hero_section .content .boxs .box .text .title {
    font-size: 14px;
  }
}
.our_services .title {
  font-size: 50px;
  font-weight: 700;
  position: relative;
}
.our_services .title .icon {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.our_services .title .icon svg {
  width: 90px;
  fill: #e1e1e1;
}
.our_services .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
  margin-top: 80px;
}
.our_services .boxs .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 10px 30px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}
.our_services .boxs .box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background-color: #f17855;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.our_services .boxs .box:hover {
  color: white;
}
.our_services .boxs .box:hover::before {
  width: 100%;
}
.our_services .boxs .box:hover .icon svg {
  fill: white;
}
.our_services .boxs .box:hover h4 {
  color: white;
}
.our_services .boxs .box .icon svg {
  width: 80px;
}
.our_services .boxs .box h4 {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .our_services .title {
    font-size: 40px;
  }
  .our_services .title .icon svg {
    width: 60px;
  }
  .our_services .boxs {
    margin-top: 30px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  .our_services .boxs .box {
    padding: 10px 15px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 8px;
  }
  .our_services .boxs .box .icon svg {
    width: 55px;
  }
  .our_services .boxs .box h4 {
    font-size: 18px;
  }
}
.veterinary_care_section .line .text .title {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 20px;
}
.veterinary_care_section .line .text .desc {
  font-size: 22px;
  color: gray;
  line-height: 1.7;
  margin-bottom: 20px;
}
.veterinary_care_section .line .text .consultation {
  font-size: 32px;
  font-weight: 700;
}
.veterinary_care_section .line .text .consultation span {
  color: #f17855;
}
.veterinary_care_section .line .image img {
  width: 100%;
}
.veterinary_care_section .line .veterinary_services .item:not(:last-child) {
  margin-bottom: 25px;
}
.veterinary_care_section .line .veterinary_services .item .icon img {
  width: 40px;
}
.veterinary_care_section .line .veterinary_services .item .title_service {
  font-weight: 700;
  font-size: 26px;
}
.veterinary_care_section .line .veterinary_services .item .desc_service {
  color: gray;
  font-size: 19px;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .veterinary_care_section .line .text {
    text-align: center;
  }
  .veterinary_care_section .line .text .title {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .veterinary_care_section .line .text .desc {
    font-size: 16px;
    margin-bottom: 5px;
  }
  .veterinary_care_section .line .text .consultation {
    font-size: 22px;
  }
  .veterinary_care_section .line .image {
    text-align: center;
  }
  .veterinary_care_section .line .image img {
    width: 80%;
  }
  .veterinary_care_section .line .veterinary_services {
    text-align: center;
    margin-top: 20px;
  }
  .veterinary_care_section .line .veterinary_services .item .icon img {
    width: 34px;
  }
  .veterinary_care_section .line .veterinary_services .item .title_service {
    font-size: 22px;
    margin-bottom: 3px;
  }
  .veterinary_care_section .line .veterinary_services .item .desc_service {
    font-size: 16px;
  }
}
.testimonials_section {
  background-color: #f6eee5;
}
.testimonials_section .title {
  font-size: 50px;
  font-weight: 700;
  position: relative;
  z-index: 10;
}
.testimonials_section .title .icon {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.testimonials_section .title .icon svg {
  width: 90px;
  fill: #e1e1e1;
}
.testimonials_section .boxs {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 30px;
  border: 2px dashed #778f9d;
}
.testimonials_section .boxs .box {
  padding: 40px 25px;
}
.testimonials_section .boxs .box .comment {
  font-size: 17px;
  line-height: 1.7;
  color: gray;
}
.testimonials_section .boxs .box .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.testimonials_section .boxs .box .profile .profile_img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.testimonials_section .boxs .box .profile h6 {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 768px) {
  .testimonials_section .title {
    font-size: 25px;
  }
  .testimonials_section .title .icon svg {
    width: 60px;
  }
  .testimonials_section .boxs {
    margin-top: 30px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 0px;
  }
  .testimonials_section .boxs .box {
    padding: 15px 20px;
  }
  .testimonials_section .boxs .box .profile .profile_img img {
    width: 40px;
    height: 40px;
  }
  .testimonials_section .boxs .box .profile h6 {
    font-size: 18px;
  }
}
.our_passion_section {
  background-color: #f6eee5;
}
.our_passion_section .line .text .title {
  font-weight: 700;
}
.our_passion_section .line .text .desc {
  font-size: 19px;
  color: gray;
  line-height: 1.7;
}
.our_passion_section .line .text .features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.our_passion_section .line .text .features .feature:not(:last-child) {
  margin-bottom: 20px;
}
.our_passion_section .line .text .features .feature .icon img {
  width: 25px;
}
.our_passion_section .line .text .features .feature h4 {
  margin-bottom: 0;
}
.our_passion_section .line .image {
  text-align: center;
}
.our_passion_section .line .image img {
  width: 80%;
}

@media (max-width: 768px) {
  .our_passion_section .line .text {
    text-align: center;
  }
  .our_passion_section .line .text .title {
    font-size: 24px;
  }
  .our_passion_section .line .text .desc {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .our_passion_section .line .text .features .feature {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our_passion_section .line .text .features .feature h4 {
    font-size: 18px;
  }
}
.recently_added_section .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recently_added_section .head .title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0;
}
.recently_added_section .head .btn_more {
  color: #f17855 !important;
  font-size: 18px;
}
.recently_added_section .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  margin-top: 40px;
}
.recently_added_section .boxs .box {
  border: 1px solid rgb(227, 227, 227);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.recently_added_section .boxs .box .badge {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 6px 10px;
  background-color: #0052b1;
  color: white;
  border-radius: 4px;
}
.recently_added_section .boxs .box .favorite {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #f17855;
  font-size: 24px;
}
.recently_added_section .boxs .box .image img {
  width: 100%;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
}
.recently_added_section .boxs .box .content {
  padding: 12px;
}
.recently_added_section .boxs .box .content .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.recently_added_section .boxs .box .content .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}
.recently_added_section .boxs .box .content .details > div i {
  font-size: 15px;
  color: #f17855;
}
.recently_added_section .boxs .box .content .details > div span {
  font-size: 14px;
  color: gray;
}
.recently_added_section .boxs .box .content .views span {
  color: gray;
}
.recently_added_section .boxs .box .content .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.recently_added_section .boxs .box .content .bottom .type {
  color: #0052b1;
}
.recently_added_section .boxs .box .content .bottom .price {
  font-weight: 700;
  color: #f17855;
}

@media (max-width: 768px) {
  .recently_added_section .head .title {
    font-size: 22px;
  }
  .recently_added_section .head .btn_more {
    font-size: 14px;
  }
  .recently_added_section .boxs {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
    margin-top: 20px;
  }
}
.offering_section .content {
  padding: 40px 25px;
  background-image: url(../images/offaring-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-radius: 10px;
  overflow: hidden;
}
.offering_section .content:nth-child(2) {
  background-image: url(../images/offaring-bg2.webp);
}
.offering_section .content .text .offering {
  font-size: 22px;
  font-weight: 600;
}
.offering_section .content .text .title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}
.offering_section .content .text .btn_fill {
  padding: 5px 30px;
}

@media (max-width: 768px) {
  .offering_section .content {
    padding: 25px 10px;
  }
  .offering_section .content .text .offering {
    font-size: 18px;
  }
  .offering_section .content .text .title {
    font-size: 18px;
  }
  .offering_section .content .text .btn_fill {
    padding: 2px 15px;
  }
}
.our_blog {
  padding: 60px 0;
}
.our_blog .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.our_blog .head .subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #f17855;
}
.our_blog .head .title {
  font-size: 40px;
}
.our_blog .head a {
  background: linear-gradient(45deg, #8785f1 0%, #f17855 100%);
  color: white !important;
  padding: 8px 25px;
  border-radius: 3px;
  font-size: 17px;
}
.our_blog .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  margin-top: 80px;
}
.our_blog .boxs .box {
  border-radius: 10px;
  overflow: hidden;
}
.our_blog .boxs .box:hover .content h4 {
  color: #f17855;
}
.our_blog .boxs .box .image {
  height: 260px;
  margin-bottom: 10px;
}
.our_blog .boxs .box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.our_blog .boxs .box .content .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}
.our_blog .boxs .box .content .details .detail {
  color: #f17855;
  font-weight: 500;
}
.our_blog .boxs .box .content .details .detail i {
  font-size: 14px;
}
.our_blog .boxs .box .content h4 {
  font-weight: 600;
}
.our_blog .boxs .box .content p {
  margin-bottom: 0;
  color: gray;
}

@media (max-width: 768px) {
  .our_blog {
    padding: 30px 0;
  }
  .our_blog .head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    text-align: center;
  }
  .our_blog .head .subtitle {
    font-size: 16px;
  }
  .our_blog .head .title {
    font-size: 25px;
  }
  .our_blog .head a {
    padding: 4px 20px;
    font-size: 15px;
  }
  .our_blog .boxs {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
  }
  .our_blog .boxs .box .image {
    height: 210px;
  }
  .our_blog .boxs .box .content .details {
    margin-bottom: 3px;
  }
  .our_blog .boxs .box .content .details .detail {
    font-size: 14px;
  }
  .our_blog .boxs .box .content h4 {
    font-size: 20px;
  }
  .our_blog .boxs .box .content p {
    font-size: 13px;
  }
}
.shop_animals_section .path {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: gray;
  margin-bottom: 12px;
}
.shop_animals_section .path i {
  font-size: 13px;
}
.shop_animals_section .path a:hover {
  color: #f17855 !important;
}
.shop_animals_section .line {
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid rgb(204, 204, 204);
}
.shop_animals_section .line .filter {
  border-bottom: 1px solid rgb(204, 204, 204);
}
.shop_animals_section .line .filter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
  row-gap: 4px;
}
.shop_animals_section .line .filter form .buttons_filter {
  border: 1px solid rgb(208, 208, 208);
  border-radius: 50px;
  overflow: hidden;
}
.shop_animals_section .line .filter form .buttons_filter button {
  border: none;
  background-color: transparent;
  padding: 5px 8px;
}
.shop_animals_section .line .filter form .buttons_filter button.active {
  color: #f17855;
  background-color: rgb(241, 238, 238);
}
.shop_animals_section .line .filter form .input_item {
  padding: 5px 10px;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.shop_animals_section .line .filter form .input_item label {
  font-weight: 700;
}
.shop_animals_section .line .filter form .input_item input,
.shop_animals_section .line .filter form .input_item select {
  border: none;
  outline: none;
  padding: 0;
}
.shop_animals_section .line .filter form .input_item input {
  width: 35px;
}
.shop_animals_section .line .filter form .input_item i {
  color: #f17855;
}
.shop_animals_section .line .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  padding: 20px 10px;
}
.shop_animals_section .line .boxs .box {
  border: 1px solid rgb(227, 227, 227);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.shop_animals_section .line .boxs .box .badge {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 6px 10px;
  background-color: #0052b1;
  color: white;
  border-radius: 4px;
}
.shop_animals_section .line .boxs .box .favorite {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #f17855;
  font-size: 24px;
}
.shop_animals_section .line .boxs .box .image img {
  width: 100%;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
}
.shop_animals_section .line .boxs .box .content {
  padding: 12px;
}
.shop_animals_section .line .boxs .box .content .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.shop_animals_section .line .boxs .box .content .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}
.shop_animals_section .line .boxs .box .content .details > div i {
  font-size: 15px;
  color: #f17855;
}
.shop_animals_section .line .boxs .box .content .details > div span {
  font-size: 14px;
  color: gray;
}
.shop_animals_section .line .boxs .box .content .views span {
  color: gray;
}
.shop_animals_section .line .boxs .box .content .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.shop_animals_section .line .boxs .box .content .bottom .type {
  color: #0052b1;
}
.shop_animals_section .line .boxs .box .content .bottom .price {
  font-weight: 700;
  color: #f17855;
}

@media (max-width: 768px) {
  .shop_animals_section .line .filter form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
  }
  .shop_animals_section .line .filter form .buttons_filter button {
    padding: 3px 6px;
    font-size: 14px;
  }
  .shop_animals_section .line .filter form .input_item {
    gap: 5px;
    padding: 1px 8px;
  }
  .shop_animals_section .line .filter form .input_item label {
    font-size: 13px;
  }
  .shop_animals_section .line .filter form .input_item input,
.shop_animals_section .line .filter form .input_item select {
    padding: 1px 8px;
    font-size: 14px;
  }
  .shop_animals_section .line .filter form .input_item input {
    width: 25px;
  }
  .shop_animals_section .line .filter form .input_item i {
    font-size: 14px;
  }
  .shop_animals_section .line .boxs {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
    margin-top: 20px;
  }
}
.pet_details_section .line {
  -webkit-box-shadow: 1px 7px 10px #e2e2e2;
          box-shadow: 1px 7px 10px #e2e2e2;
  padding: 22px;
  border-radius: 10px;
  overflow: hidden;
}
.pet_details_section .line .text .type {
  padding: 1px 10px;
  background-color: #0052b1;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-right: auto;
}
.pet_details_section .line .text .title {
  font-weight: 700;
  font-size: 35px;
}
.pet_details_section .line .text .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}
.pet_details_section .line .text .details > div i {
  font-size: 17px;
  color: #f17855;
}
.pet_details_section .line .text .details > div span {
  font-size: 16px;
  color: gray;
}
.pet_details_section .line .text .desc {
  font-size: 17px;
  color: gray;
}
.pet_details_section .line .text .more_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  margin-bottom: 15px;
}
.pet_details_section .line .text .more_details .item i {
  font-size: 17px;
  color: #0052b1;
}
.pet_details_section .line .text .more_details .item span {
  font-size: 16px;
}
.pet_details_section .line .text .price {
  font-size: 35px;
  font-weight: 700;
  color: #f17855;
}
.pet_details_section .line .text .price_range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.pet_details_section .line .text .price_range .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  font-size: 20px;
  margin-bottom: 0;
  color: #f17855;
  font-weight: 600;
}
.pet_details_section .line .text .price_range .item span {
  color: gray;
}
.pet_details_section .line .text .btn_contact {
  margin-bottom: 20px;
}
.pet_details_section .line .text .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.pet_details_section .line .text .bottom .views span {
  color: gray;
}
.pet_details_section .line .main_images {
  position: relative;
}
.pet_details_section .line .main_images .image_main img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  border: 1px solid rgb(222, 222, 222);
}
.pet_details_section .line .main_images .owl-nav button {
  width: 35px;
  height: 35px;
  background-color: #f17855;
  color: white;
  border-radius: 50%;
}
.pet_details_section .line .main_images .owl-nav button span {
  font-size: 33px;
  line-height: 25px;
}
.pet_details_section .line .main_images .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  right: -10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.pet_details_section .line .main_images .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  left: -10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.pet_details_section .line .main_images .owl-dots {
  display: none;
}
.pet_details_section .line .main_images .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-top: 12px;
}
.pet_details_section .line .main_images .images img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid rgb(215, 215, 215);
}
.pet_details_section .line .main_images .images img.active {
  border: 2px solid #f17855;
}
.pet_details_section .reviews_section {
  max-width: 900px;
  margin: 30px auto 0;
}
.pet_details_section .reviews_section .title_section {
  font-weight: 700;
  margin-bottom: 25px;
}
.pet_details_section .reviews_section .reviews .review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.pet_details_section .reviews_section .reviews .review:not(:last-child) {
  margin-bottom: 20px;
}
.pet_details_section .reviews_section .reviews .review .image img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.pet_details_section .reviews_section .reviews .review .text .rate i {
  color: gray;
}
.pet_details_section .reviews_section .reviews .review .text .rate i.active {
  color: #fc0;
}
.pet_details_section .reviews_section .reviews .review .text .comment {
  margin-bottom: 0;
  font-weight: 500;
}
.pet_details_section .reviews_section .review_form {
  margin-top: 30px;
}
.pet_details_section .reviews_section .review_form .title_section {
  font-weight: 700;
  margin-bottom: 5px;
}
.pet_details_section .reviews_section .review_form .desc {
  color: gray;
}
.pet_details_section .reviews_section .review_form form .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.pet_details_section .reviews_section .review_form form .rate .rate_stars i,
.pet_details_section .reviews_section .review_form form .rate .rate_stars i:hover ~ i {
  color: rgb(179, 179, 179);
  text-shadow: none;
  -webkit-transition: color 200ms, text-shadow 200ms;
  transition: color 200ms, text-shadow 200ms;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}
.pet_details_section .reviews_section .review_form form .rate .rate_stars:hover i {
  color: #fc0;
}
.pet_details_section .reviews_section .review_form form .rate .rate_stars:hover i:nth-child(2) {
  -webkit-transition-delay: 30ms;
          transition-delay: 30ms;
}
.pet_details_section .reviews_section .review_form form .rate .rate_stars:hover i:nth-child(3) {
  -webkit-transition-delay: 60ms;
          transition-delay: 60ms;
}
.pet_details_section .reviews_section .review_form form .rate .rate_stars:hover i:nth-child(4) {
  -webkit-transition-delay: 90ms;
          transition-delay: 90ms;
}
.pet_details_section .reviews_section .review_form form .rate .rate_stars:hover i:nth-child(5) {
  -webkit-transition-delay: 120ms;
          transition-delay: 120ms;
}
.pet_details_section .reviews_section .review_form form .rate .rate_stars i {
  cursor: pointer;
  font-style: normal;
}
.pet_details_section .reviews_section .review_form form .rate span {
  color: gray;
}
.pet_details_section .reviews_section .review_form form .input_item {
  margin-bottom: 15px;
}
.pet_details_section .reviews_section .review_form form .input_item textarea {
  height: 120px;
}
.pet_details_section .reviews_section .review_form form .input_item textarea,
.pet_details_section .reviews_section .review_form form .input_item input {
  background-color: rgb(246, 246, 246);
  border: 1px solid rgb(206, 206, 206);
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  outline: none;
}
.pet_details_section .reviews_section .review_form form .btn_submit {
  margin-top: 20px;
  font-size: 17px;
  padding: 8px 20px;
  width: 100%;
  border-radius: 50px;
  color: white;
  background-color: black;
  border: none;
}

@media (max-width: 768px) {
  .pet_details_section .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 15px;
  }
  .pet_details_section .line .text .title {
    font-size: 26px;
  }
  .pet_details_section .line .text .details {
    margin-bottom: 8px;
  }
  .pet_details_section .line .text .details > div i {
    font-size: 15px;
  }
  .pet_details_section .line .text .details > div span {
    font-size: 14px;
  }
  .pet_details_section .line .text .desc {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .pet_details_section .line .text .more_details {
    gap: 20px;
    margin-bottom: 10px;
  }
  .pet_details_section .line .text .price {
    font-size: 28px;
  }
  .pet_details_section .line .text .bottom .views i {
    font-size: 15px;
  }
  .pet_details_section .line .text .bottom .views span {
    font-size: 14px;
  }
  .pet_details_section .line .main_images .image_main img {
    height: 280px;
  }
  .pet_details_section .line .main_images .images {
    gap: 8px;
  }
  .pet_details_section .line .main_images .images img {
    width: 60px;
    height: 60px;
  }
}
.related_ads_section .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.related_ads_section .head .title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0;
}
.related_ads_section .head .btn_more {
  color: #f17855 !important;
  font-size: 18px;
}
.related_ads_section .boxs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  margin-top: 40px;
}
.related_ads_section .boxs .box {
  border: 1px solid rgb(227, 227, 227);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.related_ads_section .boxs .box .badge {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 6px 10px;
  background-color: #0052b1;
  color: white;
  border-radius: 4px;
}
.related_ads_section .boxs .box .favorite {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #f17855;
  font-size: 24px;
}
.related_ads_section .boxs .box .image img {
  width: 100%;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
}
.related_ads_section .boxs .box .content {
  padding: 12px;
}
.related_ads_section .boxs .box .content .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}
.related_ads_section .boxs .box .content .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}
.related_ads_section .boxs .box .content .details > div i {
  font-size: 15px;
  color: #f17855;
}
.related_ads_section .boxs .box .content .details > div span {
  font-size: 14px;
  color: gray;
}
.related_ads_section .boxs .box .content .views span {
  color: gray;
}
.related_ads_section .boxs .box .content .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.related_ads_section .boxs .box .content .bottom .type {
  color: #0052b1;
}
.related_ads_section .boxs .box .content .bottom .price {
  font-weight: 700;
  color: #f17855;
}

@media (max-width: 768px) {
  .related_ads_section .head .title {
    font-size: 22px;
  }
  .related_ads_section .head .btn_more {
    font-size: 14px;
  }
  .related_ads_section .boxs {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
    margin-top: 20px;
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden !important;
}

body {
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif !important;
  overflow-x: hidden !important;
  direction: rtl;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

p {
  margin-bottom: 0;
}

svg {
  width: 20px;
}

main {
  position: relative;
}

.btn_fill {
  padding: 5px 20px;
  color: white !important;
  background-color: #f17855;
  color: white;
  border-radius: 50px;
  border: none;
}

.btn_outline {
  padding: 4px 20px;
  color: #f17855 !important;
  background-color: transparent;
  border: 1px solid #f17855 !important;
  color: white;
  border-radius: 50px;
  border: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.btn_outline:hover {
  background-color: #f17855;
  color: white !important;
}

.section {
  padding: 70px 0;
}

.line_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.line_section > div {
  width: 50%;
}

@media (max-width: 768px) {
  .btn_fill,
.btn_outline {
    padding: 4px 15px;
    font-size: 13px;
  }
  .section {
    padding: 35px 0;
  }
  .line_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .line_section > div {
    width: 100%;
  }
}