@import "../components/variables";

// start pet_details_section
.pet_details_section {
  .line {
    box-shadow: 1px 7px 10px #e2e2e2;
    padding: 22px;
    border-radius: 10px;
    overflow: hidden;

    .text {
      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;
        .img {
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        span {
          font-weight: 700;
        }
      }

      .type {
        padding: 1px 10px;
        background-color: #0052b1;
        color: white;
        border-radius: 4px;
        font-size: 15px;
        width: fit-content;
        display: block;
      }

      .message {
        margin-top: 6px;
        margin-bottom: 5px;
        font-size: 15px;
        color: gray;
      }

      .title {
        font-weight: 700;
        font-size: 35px;
      }

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        > div {
          i {
            font-size: 17px;
            color: $primary-color;
          }

          span {
            font-size: 16px;
            color: gray;
          }
        }
      }

      .desc {
        font-size: 17px;
        color: gray;
      }

      .time {
        display: flex;
        align-items: center;
        gap: 7px;
        color: gray;
      }

      .more_details {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-bottom: 15px;

        .item {
          i {
            font-size: 17px;
            color: #0052b1;
          }

          span {
            font-size: 16px;
          }
        }
      }

      .info_price {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;

        .price {
          font-size: 24px;
        }

        .old_price {
          font-size: 15px;
          color: gray;
          text-decoration: line-through;
        }

        .bdg_dsct {
          padding: 2px 5px;
          font-size: 14px;
          background-color: #fef3e9;
          color: $primary-color;
          border-radius: 4px;
        }
      }

      .price {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 0;
        color: $primary-color;
      }

      .price_range {
        display: flex;
        align-items: center;
        gap: 15px;

        .item {
          display: flex;
          align-items: center;
          gap: 7px;
          font-size: 20px;
          margin-bottom: 0;
          color: $primary-color;
          font-weight: 600;

          span {
            color: gray;
          }
        }
      }

      .info_contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .views {
          span {
            color: gray;
          }
        }
      }

      .info_details {
        margin-top: 12px;
        padding-top: 10px;
        border-top: 1px solid rgb(215 215 215);

        h5 {
          font-weight: 700;
          margin-bottom: 15px;
        }

        .line_section {
          padding: 0;
          box-shadow: none;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            width: 1px;
            background-color: rgb(215 215 215);
          }

          .appointments {
            .item {
              display: flex;
              align-items: center;
              justify-content: space-between;

              &:not(:last-child) {
                margin-bottom: 10px;
              }

              h6 {
                margin-bottom: 0;
                font-weight: 700;
              }

              span {
                color: gray;
                font-size: 15px;
              }
            }
          }

          .info_appointments {
            .item {
              display: flex;
              align-items: center;
              justify-content: space-between;

              &:not(:last-child) {
                margin-bottom: 10px;
              }

              h6 {
                margin-bottom: 0;
                font-weight: 700;
              }

              span {
                color: gray;
                font-size: 15px;
              }
            }
          }
        }
      }

      .info_awards {
        margin-top: 12px;
        padding-top: 10px;
        border-top: 1px solid rgb(215 215 215);

        h5 {
          font-weight: 700;
          margin-bottom: 15px;
        }

        .awards {
          .item {
            display: flex;
            align-items: center;
            gap: 20px;

            &:not(:last-child) {
              margin-bottom: 10px;
            }

            h6 {
              margin-bottom: 0;
              font-weight: 700;
            }

            span {
              color: gray;
              font-size: 15px;
            }
          }
        }
      }

      .competition_conditions {
        margin-top: 12px;
        padding-top: 10px;
        border-top: 1px solid rgb(215 215 215);

        h5 {
          font-weight: 700;
          margin-bottom: 15px;
        }

        .items {
          .item {
            &:not(:last-child) {
              margin-bottom: 10px;

              span {
                display: block;
                color: gray;
              }
            }
          }
        }
      }

      .rate_now {
        width: 100%;
        border-radius: 5px;
        margin-top: 20px;
      }
    }

    .main_images {
      position: relative;
      .image_main {
        img {
          width: 100%;
          height: 500px;
          object-fit: cover;
          border-radius: 8px;
          border: 1px solid rgb(222, 222, 222);
        }
      }

      .owl-nav {
        button {
          width: 35px;
          height: 35px;
          background-color: $primary-color;
          color: white;
          border-radius: 50%;

          span {
            font-size: 33px;
            line-height: 25px;
          }

          &.owl-prev {
            position: absolute;
            top: 50%;
            right: -10px;
            transform: translateY(-50%);
          }

          &.owl-next {
            position: absolute;
            top: 50%;
            left: -10px;
            transform: translateY(-50%);
          }
        }
      }

      .owl-dots {
        display: none;
      }

      .images {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 12px;

        img {
          width: 70px;
          height: 70px;
          border-radius: 6px;
          object-fit: cover;
          border: 1px solid rgb(215, 215, 215);

          &.active {
            border: 2px solid $primary-color;
          }
        }
      }
    }
  }

  .reviews_section {
    max-width: 900px;
    background: #eaeaea;
    padding: 20px;
    border-radius: 10px;
    margin: 30px auto 0;

    .title_section {
      font-weight: 700;
      margin-bottom: 25px;
    }

    .message {
      margin-top: 6px;
      margin-bottom: 5px;
      font-size: 15px;
      color: gray;
      text-align: center;
    }

    .reviews {
      .review {
        display: flex;
        align-items: center;
        gap: 10px;
        background: white;
        padding: 20px;
        border-radius: 10px;

        &:not(:last-child) {
          margin-bottom: 20px;
        }

        .image {
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }

        .text {
          .rate {
            i {
              color: gray;

              &.active {
                color: #fc0;
              }
            }
          }

          .comment {
            margin-bottom: 0;
            font-weight: 500;
          }
        }
      }
    }

    .show_more {
      margin: 10px auto;
      text-align: center;
      background-color: transparent;
      border: none;
      color: $primary-color;
      display: block;
      text-align: center;
    }

    .container_btn {
      margin-top: 20px;
      text-align: center;

      .btn_evaluation {
        padding: 5px 50px;
      }
    }
  }

  .product_specification {
    box-shadow: 0px -1px 20px 2px #e2e2e2;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;

    .head {
      padding: 8px;
      border-bottom: 1px solid rgb(221, 221, 221);

      h4 {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 20px;
      }
    }

    .specification {
      padding: 12px;

      p {
        margin-bottom: 0;
        line-height: 1.7;
        color: rgb(105, 105, 105);
      }
    }
  }
}

@media (max-width: 768px) {
  .pet_details_section {
    .line {
      padding: 15px;

      .text {
        .title {
          font-size: 26px;
        }

        .details {
          margin-bottom: 8px;

          > div {
            i {
              font-size: 15px;
            }

            span {
              font-size: 14px;
            }
          }
        }

        .desc {
          font-size: 15px;
          margin-bottom: 10px;
        }

        .more_details {
          gap: 20px;
          margin-bottom: 10px;
        }

        .price {
          font-size: 28px;
        }

        .info_contact {
          gap: 8px;
          margin-top: 15px;
        }

        .bottom {
          .views {
            i {
              font-size: 15px;
            }

            span {
              font-size: 14px;
            }
          }
        }

        .info_details {
          .line_section {
            gap: 0;
            &::before {
              display: none;
            }

            .info_appointments {
              border-bottom: 1px solid rgb(215 215 215);
              margin-bottom: 12px;
              padding-bottom: 10px;
            }
          }
        }
      }

      .main_images {
        .image_main {
          img {
            height: 280px;
          }
        }

        .images {
          gap: 8px;
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }
}
// end pet_details_section

// start related_ads_section
.related_ads_section {
  padding: 20px 0 !important;
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-weight: 700;
      font-size: 30px;
      margin-bottom: 0;
    }

    .btn_more {
      color: $primary-color !important;
      font-size: 18px;
    }
  }

  .boxs {
    margin-top: 40px;

    .box {
      border-radius: 8px;
      overflow: hidden;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid rgb(228 228 228);
        border-radius: 8px;
        overflow: hidden;
      }

      .badge {
        position: absolute;
        top: 15px;
        left: 15px;
        padding: 6px 10px;
        background-color: #0052b1;
        color: white;
        border-radius: 4px;
      }

      .favorite {
        position: absolute;
        top: 15px;
        right: 15px;
        color: $primary-color;
        font-size: 24px;
      }

      .image {
        img {
          width: 100%;
          height: 225px;
          object-fit: cover;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
        }
      }

      .content {
        padding: 12px;

        .title {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 8px;
        }

        .details {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 8px;

          > div {
            i {
              font-size: 15px;
              color: $primary-color;
            }

            span {
              font-size: 14px;
              color: gray;
            }
          }
        }

        .views {
          span {
            color: gray;
          }
        }

        .bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .type {
            color: #0052b1;
          }

          .price {
            font-weight: 700;
            color: $primary-color;
          }
        }
      }
    }
  }

  &.animal_supplies {
    .boxs {
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));

      .box {
        .image {
          img {
            height: 210px;
          }
        }

        .content {
          .title {
            font-size: 17px;
            font-weight: 700;
            margin-bottom: 1px;
          }

          .discount_price {
            font-weight: 700;
            font-size: 18px;
          }

          .bottom {
            justify-content: start;
            gap: 10px;

            .old_price {
              font-size: 15px;
              color: gray;
              text-decoration: line-through;
            }

            .bdg_dsct {
              padding: 2px 5px;
              font-size: 14px;
              background-color: #fef3e9;
              color: $primary-color;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .related_ads_section {
    .head {
      .title {
        font-size: 22px;
      }

      .btn_more {
        font-size: 14px;
      }
    }

    .boxs {
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 15px;
      margin-top: 20px;
    }
  }
}
// end related_ads_section
