@import "../components/variables";

// start social media
.social_media_section {
  .content {
    padding: 20px 10px;
    border-left: 1px solid rgb(217, 217, 217);
    border-right: 1px solid rgb(217, 217, 217);
  }
  .add_post {
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(237 237 237);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    .image {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    .whaty_ou_think {
      padding: 8px;
      border-radius: 50px;
      background-color: rgb(246 246 246);
      flex: 1;
      color: gray;
      cursor: pointer;

      span {
        display: block;
        margin-bottom: 0;
        font-weight: 600;
      }
    }
  }

  .posts {
    .post {
      padding: 12px 12px 0;
      border-radius: 10px;
      background-color: rgb(237 237 237);

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      .profile {
        display: flex;
        align-items: center;
        gap: 10px;

        .image {
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        .details {
          .title {
            font-size: 16px;
            margin-bottom: 1px;
            font-weight: 700;
          }

          .date {
            font-size: 11px;
            color: gray;
            margin-top: -4px;
            display: block;
          }
        }
      }

      .image_post {
        img {
          width: 100%;
          height: 450px;
          border-radius: 8px;
          object-fit: cover;
        }
      }

      .details_post {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
          color: gray;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        border-top: 1px solid rgb(210, 210, 210);

        .item {
          padding: 10px;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          cursor: pointer;

          &:hover {
            background-color: rgb(217, 217, 217);
          }

          &.active {
            i {
              color: rgb(34, 138, 212);
            }

            span {
              color: rgb(34, 138, 212);
            }
          }
        }
      }

      .comments_section {
        padding: 15px 0;
        display: none;

        &.show {
          display: block;
        }
        .comments {
          padding: 15px 0;
          .comment {
            display: flex;
            gap: 6px;

            &:not(:last-child) {
              margin-bottom: 15px;
            }

            .img {
              img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
              }
            }

            .info {
              background-color: #e7e7e7;
              padding: 8px;
              border-radius: 6px;

              h6 {
                margin-bottom: 0;
                font-weight: 700;
              }

              p {
                margin-bottom: 5px;
                font-size: 15px;
              }

              .img_comment {
                width: 300px;
                max-width: 100%;
                border-radius: 5px;
              }
            }
          }
        }

        .show_more {
          margin: 10px auto;
          text-align: center;
          background-color: transparent;
          border: none;
          color: $primary-color;
          display: block;
          text-align: center;
        }

        .form_comment {
          display: flex;
          gap: 10px;

          .img {
            img {
              width: 35px;
              height: 35px;
              border-radius: 50%;
            }
          }

          form {
            background-color: #e7e7e7;
            padding: 8px;
            border-radius: 6px;
            flex: 1;

            .input {
              input {
                background-color: transparent;
                width: 100%;
                border: none;
                outline: none;
                padding: 5px;
              }
            }

            .bottom {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .btn_submit {
                background-color: transparent;
                border: none;
                color: $primary-color;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }

  .advertisements {
    .advertisement {
      margin-bottom: 15px;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .social_media_section {
    .posts {
      .post {
        .text {
          p {
            font-size: 14px;
          }
        }

        .image_post {
          img {
            height: 250px;
          }
        }

        .details_post {
          padding: 5px 0;

          div {
            font-size: 14px;
          }
        }

        .actions {
          .item {
            padding: 5px;
          }
        }
      }
    }
  }
}
// end social media
